/* début Aspect général */
*{
    font-family: arial;
}
body{
    background-color: #f2f2f2;
    padding: 100px 0 200px 0;
}
h1{
    text-align: center;
}
h1,h3{
    color: #0d0d0d;
}

.container{
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 35px;
}
.float-left{
    float: left;
    margin-right: 20px;
   
}
.box-300{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
.box-400-600{
    height: 400px;
    width: 600px;
    border: 1px solid black;
}

.clear{
    clear: both;
}
/* fin Aspect général */


/* début exo 01 background-color */

.bg-color-1{
    background-color: #FF5B1B;
}
.bg-color-2{
    background-color: #00FB5C;
}
/* fin exo 01 background-color */

/* début exo 02 background*/
.bg-1{
    background-image: linear-gradient(#FF5B1B,#00FB5C);
}
.bg-2{
    background-image: radial-gradient(#FF5B1B,#00FB5C);
}
.bg-3{
    background-image: linear-gradient(to left, #FF5B1B,#00FB5C);
}
.bg-4{
    background-image: linear-gradient(to top right,#FF5B1B,#00FB5C);
}
/* fin exo 02 background*/

/* début exo 03 background-position*/
.img-1{ 
    background-image: url('../images/bg_image.jpg');
    background-position: left top;
}
.img-2{
    background-image: url('../images/bg_image.jpg');
    background-position: center;
}
.img-3{
    background-image: url('../images/bg_image.jpg');
    background-position: right;
}
.img-4{
    background-image: url('../images/bg_image.jpg');
    background-position: center left;
}
/* fin exo 03 background-position*/

/* début exo 04 background-repeat*/
.img-5{
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat: no-repeat;
}
.img-6{
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat: repeat-x;
}
.img-7{
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat: repeat-y;
}
/* fin exo 04 background-repeat*/

/* début exo 05 background-size*/
.img-8{ 
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat: repeat;
    background-size: 10%;
}
.img-9{ 
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat:repeat-x space;
    background-size: 100px 200px;
}
.img-10{
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat: no-repeat cover;
    background-size: 600px;
}
.img-11{
    background-image: url('../images/bg_image_petite.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* fin exo 05 background-size*/

/* début exo 06 background-attachement*/
.img-12{
    background-image: url('../images/bg_image_petite.jpg');
    background-attachment: fixed;
}
.img-13{
    background-image: url('../images/bg_image_petite.jpg');
    background-attachment: fixed;
}
/* fin exo 06 background-attachement*/